<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcm.smsSmini"
    android:versionCode="6"
    android:versionName="1.0.3" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.lcm.data.sms.InboxListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.lcm.data.sms.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lcm.view.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lcm.data.sms.HandleReceivedSms"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.lcm.view.GsCalendar" >
        </activity>
        <activity
            android:name="com.lcm.view.SettingsPreference"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lcm.view.HandleParsedData"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="com.lcm.view.NotiInfoRunner"
            android:process=".remote" >

            <!--
            <intent-filter>
			    <action android:name="ACTION.Restart.PersistentService"></action>
			</intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.lcm.moneytracker.NotiInfoRunner" />
            </intent-filter>
        </receiver>

        <service android:name="com.lcm.view.NotiInfo" >
        </service>

        <activity
            android:name="com.lcm.view.HelpView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lcm.web.WebUpdateListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.lcm.view.ConfigureView"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>